# Don't track these directories
/cgi-bin/tmp/
/cgi-bin/userbase/encdata/
/cgi-bin/userbase/orig/
/php/notused/
/public_html/blog/
/public_html/img/
/public_html/programs_src/
/test/
/unused/

# Don't track these files
*~
.*~
