# Don't track these directories
/cgi-bin/tmp/
/cgi-bin/userbase/encdata/
/cgi-bin/userbase/orig/
/cgi-bin/redirect_log.txt
/php/notused/
/php/contrib/
/public_html/blog/
/public_html/img/
/public_html/demo/
public_html/demo/
/public_html/turku2014/
/public_html/login/images/
/public_html/programs_src/
/public_html/static/mostRanked.html
/public_html/static/mostWatched.html
/public_html/static/mostLinked.html
/public_html/static/newreleases.html
/public_html/static/quicklinks.html
/public_html/static/reviews/
/public_html/tiki-12.0
/public_html/wordpress
/public_html/wiki_120/
/public_html/bugzilla-4.2.4/
/public_html/*.tar
/test/
/temp/
/unused/
/static/
/public_html/static/
/public_html/doc/
# /public_html/tiki-12.0/
public_html/static/mostLinked.html
/resources/prog/

# Don't track files in these directories
/public_html/login/appdata/*
project/idoimaging.sublime-workspace
project/idoimaging.sublime-project
/public_html/wiki
css/.sass-cache

# Do track these exceptions
!/public_html/login/appdata/.gitignore
!/public_html/blog/wp-content/themes/idoimaging/
!/public_html/img/icon/
# !/public_html/tiki-12.0/styles/

# Don't track these files
*~
.*~
*.bak
\#*
.#*
.DS_Store
